.container {
    width: 700px;
    margin: 0 auto;
    border: 1px solid #ddd;
    margin-top: 40px;
    box-shadow: 0 0px 10px #ddd;
    border-radius: 5px;
    padding: 20px;
    color: #696969;
    background-color: #eee8f9;
}

ul {
    list-style: none;
    display: inline-block;
    margin: 0;
    padding: 0;
}

li {
    float: left;
    margin: 10px;
}

.skills li {
    background: #ddd;
    padding: 10px;
    border-radius: 5px;
    color: #000;
}
.links a {
    text-decoration: none;
    font-weight: 700;
    color: #6f4579;
}