body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.App{
  width: 80%;
  margin: 0 auto;
}

button {
  width: 100px;
  height: 40px;
  margin: 20px 30px;
  font-size: 25px;
  background: #fff;
  border-radius: 5px;
  border-color: #ddd;
}

span {
  font-size: 35px;
}
button:focus{
  outline: none;
}